PORT=5000
MONGODB_URI=mongodb+srv://intern1:<password>@cluster0.jaojo5a.mongodb.net/hommiespace?appName=Cluster0
JWT_SECRET=your_jwt_secret_key_here
NODE_ENV=development

# Cloudinary (Required in later phases for media uploads)
CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_key
CLOUDINARY_API_SECRET=your_cloudinary_secret
